.title {
  position: absolute;
  bottom: 4rem;
  left: 4rem;
}

.logo {
  position: absolute;
  bottom: 4rem;
  right: 4rem;
  transition: scale 1s ease-in-out;
}

.logo.out {
  scale: 20;
}
.logo.next-up {
  transition: none;
  animation: scaleIn 1s ease-in-out;
}

@keyframes scaleIn {
  from {
    scale: 20;
  }
  to {
    scale: 1;
  }
}

@media (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
  }

  .title {
    position: relative;
    display: block;
    bottom: auto;
    left: auto;
  }

  .logo {
    position: relative;
    bottom: auto;
    right: auto;
    display: block;
    max-width: 200px;
    width: 60%;
    height: auto;
  }

  .logo.out {
    scale: 1;
  }

  .logo.next-up {
    animation: none;
  }
}
