.project{
  height: var(--section-height);
  width: 100vw;

  background-size: cover;

  position: absolute;
  top: 100vh;
  left: 0;
  transition: top 1s ease-in-out;
  z-index: 100;
}

.title{
  position: absolute;
  top: 7rem;
  left: 5rem;
}

.project.next-down, .project.out-down{
  top: 0;
}

.project.next-up{
  top: 0;
  transition: none;
}

