<section aria-label="proyectos">
  @for (project of projects; track project.id; let i = $index) {
    <article
      [ngClass]="{
        project: true,
        'next-up': project.id === nextSection() && direction() === 'up',
        'next-down': project.id === nextSection() && direction() === 'down',
        'out-down': project.id === outSection() && direction() === 'down'
      }"
      [style.background-image]="'url(' + project.image + ')'"
      [style.z-index]="100 + i"
      [attr.aria-label]="project.description"
    >
      <landing-title-2 class="title">
        {{ project.title }}
      </landing-title-2>
    </article>
  }
</section>
