:host{
  display: block;
}

section{
  height: var(--section-height);
  width: 100vw;
  position: relative;
}

@media (max-width: 768px) {
  section {
    height: auto;
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
  }
}
